<%- include('../partials/header.ejs') %>
<form action="/campgrounds/<%=camp_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
    <div class="form-group">
        <label>Comment</label>
        <input type="text" class="form-control linput" name="comment[text]" value="<%=comment.text%>">
    </div>
    
    <input type="submit" class="btn btn-primary">
</form>
<%- include('../partials/footer.ejs') %>