<%-include("../partials/header.ejs")%>
<div class="jumbotron"  id="jumbotron">
    <div class="container">
        <h1 class="display-4 text-info">Welcome To YelpCamp</h1>
        <p class="lead">These are all the wonderful camps across the world...</p>
        <a class="btn btn-warning" href="/campgrounds/new">Add a Campground</a>
    </div>
</div>
<div class="row">
<% camps.forEach((camp)=>{%>
    <div class="col-lg-4 col-md-6">
    <div class="card cardDis" style="margin-left: 10px;">
        <img src="<%=camp.image%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=camp.name%></h5>
          <p class="card-text"><%=camp.description.substring(0,50)%>..</p>
          <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">Read More</a>
        </div>
      </div>
      </div>
<%})%>
</div>
<%-include("../partials/footer.ejs")%>